extends layout

block content

	.container-fluid
		.row
			.col-md-12
				div(id="app", class="app js_app")
					.home
						h1 Gitter Demo App
						p
							a(href="/login").btn.btn-primary Sign in
