doctype 5
head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="viewport", content="width=device-width, initial-scale=1")

	//- link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
	link(href='/js/vendor/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
	link(href='/css/app.css', rel='stylesheet')

	title Gitterminator
body
	block content
	script(data-main="/js/main", src="js/vendor/requirejs/require.js")
