.navbar-logo {
	margin: 10px 20px 0px 10px;
}

.home {
	padding-top: 100px;
	text-align: center;
}

.home img {
	height: 100px;
}

.mono {
	font-family: Monaco, "Liberation Mono", Courier, monospace;
}
.container-fluid.app {
	padding: 0;
	margin: 0;
}
.app-sidebar {
	background-color: #515151;
	color: white;
	min-height: 100vh;
}
.app-main {
	/*min-height: 100vh;
	max-height: 100vh;*/
	/*padding-bottom: 50px;*/
}
.messages {
	padding-top: 20px;
	max-height: 100vh;
	overflow: scroll;
}
.app-compose {

}
.message {
	margin-bottom: 30px;
}

.user-avatar {
	display: block;
	width: 50px;
}
.user-avatar img {
	width: 100%;
	height: auto;
	border: 1px solid #d1d1d1;
}

.message-body {
	position: relative;
	background-color: #eaeaea;
	border-radius: 3px;
	padding: 20px;
	overflow: visible;
}
.message-body:before {
	content: '';
	display: block;
	width: 12px;
	height: 12px;
	background-color: inherit;
	transform: rotate(45deg);
	position: absolute;
	top: 20px;
	left: -5px;
	border-radius: 4px;
}
.message-body.your-message-body:before {
	left: auto;
	right: -5px;
}
