.navbar-logo {
	margin: 10px 20px 0px 10px;
}

.home {
	padding-top: 100px;
	text-align: center;
}

.home img {
	height: 100px;
}

.mono {
	font-family: Monaco, "Liberation Mono", Courier, monospace;
}
.container-fluid.app {
	padding: 0;
	margin: 0;
}
.app-sidebar {
	background-color: #515151;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 300px;
	padding: 10px 20px;
}
.app-main {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 300px;
	padding: 10px 20px;
}
.app-compose {
	background-color: #eaeaea;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 300px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.messages {
	padding-top: 20px;
	overflow-y: scroll;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 80px;
}
.message {
	margin-bottom: 30px;
}

.message-meta {
	color: #a1a1a1;
	font-size: 12px;
}

.user-avatar {
	display: block;
	width: 50px;
}
.user-avatar img {
	width: 100%;
	height: auto;
	border: 1px solid #d1d1d1;
}

.message-body {
	position: relative;
	background-color: #eaeaea;
	border-radius: 3px;
	padding: 10px 20px 20px;
	overflow: visible;
}
.message-body:before {
	content: '';
	display: block;
	width: 12px;
	height: 12px;
	background-color: inherit;
	transform: rotate(45deg);
	position: absolute;
	top: 20px;
	left: -5px;
	border-radius: 4px;
}
.message-body.your-message-body:before {
	left: auto;
	right: -5px;
}
