<div class="media">
	<div class="media-left">
		<a class="user-avatar" target="_blank" href="{{fromUser.url}}">
			<img class="media-object img-circle" src="{{fromUser.avatarUrlSmall}}" alt="{{fromUser.displayName}}">
		</a>
	</div>
	<div class="media-body message-body">
		{{text}}
	</div>
</div>
