<div class="media">
	<div class="media-left">
		<a href="#">
			<img class="media-object" src="#" alt="USER">
		</a>
	</div>
	<div class="media-body">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.
	</div>
</div>
