<form class="container-fluid">
	<div class="row">
		<div class="col-xs-10 col-sm-10 col-md-10">
			<textarea name="message" class="form-control js_new_message" rows="2" placeholder="Add a new message..."></textarea>
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2">
			<button type="submit" class="btn btn-primary btn-lg js_send">Send</button>
		</div>
	</div>
</form>
