<form class="form-inline">
	<div class="form-group">
		<textarea name="" class="form-control" rows="2" placeholder="Add a new message..."></textarea>
		<button type="submit" class="btn btn-primary btn-lg">Send</button>
	</div>
</form>
